/* You can add global styles to this file, and also import other style files */
.bg-transparent {
    background-color: transparent!important;
}

.container {
    max-width: 1500px;
}

.socials {
    transform: translateX(5px);
}

.nav-item {
    margin: 0px;
    padding: 0px;
}

.w-100 {
    width: 100%!important;
}

.carousel-img {
    height: 100vh !important;
    object-fit: cover;
    object-position: top;
}

.carousel-logo {
    max-width: 250px;
    max-height: 150px;
}

.d-flex {
    display: flex!important;
}