<div class="main bg-black pb-5">
    <div class="container">
        <div class="row col-6 col-md-4 col-lg-6 mx-auto">
            <h1 class="editProfile text-light pb-3 mb-4 border-bottom border-bottom-secondary">Edit Profile</h1>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <img class="mx-auto px-0 mb-2" src="assets/img/avatar.png" alt="" width="200px">
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="pb-3 mb-4 border-bottom border-bottom-secondary">
                            <div>
                                <h2 class="fs-4 text-light m-0 py-2 px-4 bg-secondary d-inline">Epicoder#1</h2>
                            </div>
                            <h4 class="text-secondary mt-4 mb-2">Language:</h4>
                            <div class="language dropdown">
                                <button
                                    class="btn btn-secondary dropdown-toggle bg-black border border-light py-1 mb-3 rounded-0"
                                    type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <p class="d-inline">English</p>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-start bg-black">
                                    <li class="dropdown-item text-light text-black-hover">English</li>
                                    <li class="dropdown-item text-light text-black-hover">Español</li>
                                    <li class="dropdown-item text-light text-black-hover">Français</li>
                                    <li class="dropdown-item text-light text-black-hover">Deutsch</li>
                                    <li class="dropdown-item text-light text-black-hover">Italiano</li>
                                </ul>

                            </div>
                        </div>
                        <div class="border-bottom border-bottom-secondary mb-3 pb-4">
                            <h4 class="text-secondary mt-4 mb-2">Maturity Settings:</h4>
                            <h5 class="bg-dark text-light py-2 px-1 text-center">ALL MATURITY SETTINGS</h5>
                            <p class="text-light fs-6">Show files for all maturity settings for this profile.
                            </p>
                            <button type="button" class="btn btn-outline-secondary rounded-0 mt-2">EDIT</button>
                        </div>
                        <div>
                            <div class="pb-3 mb-4 border-bottom border-bottom-secondary">
                                <h4 class="text-secondary mt-4 mb-2">Autoplay Controls:</h4>
                                <div class="d-flex">
                                    <input style="display: none;" id="cbx" type="checkbox" />
                                    <label class="check me-2" for="cbx">
                                        <svg viewBox="0 0 18 18" height="18px" width="18px">
                                            <path
                                                d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z">
                                            </path>
                                            <polyline points="1 9 7 14 15 4"></polyline>
                                        </svg>
                                    </label>
                                    <label for="checkbox1">Autoplay next episode in a series on all
                                        devices</label>
                                </div>
                                <div class="d-flex">
                                    <input style="display: none;" id="cbx2" type="checkbox" />
                                    <label class="check me-2" for="cbx2">
                                        <svg viewBox="0 0 18 18" height="18px" width="18px">
                                            <path
                                                d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z">
                                            </path>
                                            <polyline points="1 9 7 14 15 4"></polyline>
                                        </svg>
                                    </label>
                                    <label for="cbx2">Autoplay next episode in a series on all devices</label>
                                </div>


                            </div>
                            <div class="d-flex flex-column">
                                <button type="button"
                                    class="btn btn-outline-light rounded-0 bg-light text-black fw-bold imgRelative">SAVE</button>
                                <button type="button"
                                    class="btn btn-outline-secondary rounded-0 imgRelative">CANCEL</button>
                                <button type="button"
                                    class="btn btn-outline-secondary rounded-0 imgRelative">DELETE
                                    PROFILE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>