<div class="mx-auto">
    <div class="container-fluid bg-black">
        <h1 class="text-light">Favorites</h1>
        <div class="row">
            <div *ngFor="let movie of favoriteMovies; let i = index" class="col-md-3 mb-3">
                <a [routerLink]="['/movieDetails', movie.id]" routerLinkActive="active">
                    <img class="posterImg" src="{{https + movie.poster_path}}" alt="{{movie.title}} poster">
                </a>
            </div>
        </div>
    </div>

</div>