<div>
    <div>
        <img class="carousel-img d-block w-100" src="{{carData.modelImage}}" alt="..." />
        <div class="carousel-caption d-none d-md-block text-start container rounded-2">
            <div class="row align-items-center">
                <img [ngClass]="{'ferrari': carData.brand === 'Ferrari'}" class="carousel-logo me-3 col-lg-2"
                    src={{carData.brandLogo}} alt="">
                <div class="col-lg-2">
                    <h5>{{carData.brand}}</h5>
                    <p>{{carData.model}}</p>
                    <p>{{carData.price}}€</p>
                    <p>{{carData.year}}</p>
                    <p class="d-flex align-items-center">Available:
                        <span
                            [ngClass]="{'bg-danger': carData.available === false, 'bg-success': carData.available === true}"
                            class="check rounded-5 ms-2"></span>
                    </p>
                </div>
                <p class="col-lg-7">{{carData.description}}</p>

            </div>
        </div>
    </div>
</div>