.carousel-caption {
    transform: translateY(20px);
    background-color: rgba(0, 0, 0, 0.384);
}

.ferrari {
    max-width: 182px;
}

p {
    margin-bottom:10px;
}

.check {
    display: block;
    width: 20px;
    height: 20px;
}