.carousel-img {
    height: 100vh !important;
    object-fit: cover
}


.lamborghini {
    width: 430px;
}

.ferrari {
    width: 204.5px;
}

.porsche {
    width: 363px;
    padding-top: 0;
}

.ferrari,
.lamborghini {
    padding-top: 25px;
}

.carousel-indicators1 {
    transform: translateY(-20px);
}

.carousel-indicators-lamborghini,
.carousel-indicators-ferrari,
.carousel-indicators-porsche {
    filter: invert(100%);
    transform: translateY(60px);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

#carouselExampleIndicators,
#carouselExampleIndicators2,
#carouselExampleIndicators {
    width: 100%;
}

.small-carousel-img {
    height: 246px;
    width: 344px;
    object-fit: cover;
    object-position: center;
}

.small-carousel-img2 {
    height: 204.5px;
    width: 344px;
    object-fit: cover;
    object-position: center;
}

.bg-color-transparentBlack {
    background-color: rgba(0, 0, 0, 0.178);
}

.small-carousel-caption {
    transform: translateY(60px);
    text-align: left;
}

.carousel-md-font-size {
    font-size: 0.6rem !important;
}

.carousel-lg-font-size {
    font-size: 0.9rem !important;
}

@media only screen and (min-width: 576px) {
    .lamborghini {
        max-width: 545px;
    }

    .ferrari {
        width: 224px;
    }

    .porsche {
        max-width: 509px;
        padding-top: 0;
    }

    .small-carousel-img {
        height: 267px;
        width: 100%;
    }

    .small-carousel-img2 {
        height: 204.5px;
        width: 544px;
    }
}

@media only screen and (min-width: 768px) {
    .lamborghini {
        width: 577px;
    }

    .ferrari {
        width: 255px;
    }

    .porsche {
        width: 577px;
        padding-top: 24px;
    }

    .small-carousel-img {
        height: 331px;
        width: 100%;
    }

    .small-carousel-img2 {
        height: 310px;
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .lamborghini {
        max-width: 448px;
    }

    .ferrari {
        max-width: 234px;
    }

    .porsche {
        max-width: 450px;
        padding-top: 24px;
    }

    .small-carousel-img {
        height: 275.5px;
        width: 100%;
    }

    .small-carousel-img2 {
        height: 275.5px;
        width: 100%;
    }
}