.carousel-img {
    height: 100vh!important;
    object-fit: cover
}

.ferrari {
    max-width: 205px;
    padding-top: 25px;
}

.lamborghini {
    max-width: 430px;
    padding-top: 25px;
}

.carousel-indicators-lamborghini, .carousel-indicators-ferrari, .carousel-indicators-porsche {
    filter: invert(100%);
    transform: translateY(60px);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

#carouselExampleIndicators, #carouselExampleIndicators2, #carouselExampleIndicators {
    width: 100%;
}

.small-carousel-img {
    height: 264.5px;
    width: 470px!important;
}

.small-carousel-caption {
    transform: translateY(60px);
}