<div class="header">
    <div class="header_logo">
        <figure>
            <img src="../../../assets/imgs/HiTechOnlineHeader.png" alt="logo header" class="header_img">
        </figure>
    </div>
    <div class="navbar">
        <nav>
            <button type="button" class="nav_button"><a href="./index.html">Home</a></button>
            <button type="button" class="nav_button"><a href="./chi_siamo.html">Chi Siamo</a></button>
            <button type="button" class="nav_button"><a href="./dove_siamo.html">Dove Siamo</a></button>
            <button type="button" class="nav_button"><a href="./contatti.html">Contatti</a></button>
            <button type="button" class="nav_button"><a href="./prodotti.html">Prodotti</a></button>
            <button type="button" class="nav_button"><a href="./storia.html">Storia</a></button>
        </nav>
    </div>
</div>
