<div class="main p-5 mx-4">
    <h1 class="mb-3 pb-3 border-bottom border-bottom-secondary">Account</h1>
    <div class="main1 container-fluid border-bottom border-bottom-secondary mb-3 pb-3">
        <div class="row">
            <div class="col-12 col-md-3 px-0">
                <h4 class="text-secondary">MEMBERSHIP & BILLING</h4>
                <button class="p-2 px-5 my-3 px-md-2 border border-0 rounded-1 shadow imgRelative text-red-hover" type="button">Cancel
                    Membership</button>
            </div>
            <div class="col-12 col-md-9 fs-5 px-0 profileFontSize">
                <div class="d-flex justify-content-between pb-3 mb-3 border-bottom border-bottom-secondary">
                    <div>
                        <h5 class="profileFontSize">{{user?.user?.email}}</h5>
                        <p>Password: **********</p>
                        <p>Phone : 321 044 1279</p>
                    </div>
                    <div class="d-flex flex-column text-end">
                        <a class="profileFontSize" href="javascript.void(0)">Change account email</a>
                        <a class="profileFontSize" href="javascript.void(0)">Change password</a>
                        <a class="profileFontSize" href="javascript.void(0)">Change phone number</a>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column flex-md-row">
                        <img class="mb-1 svg-container pe-md-2" src="assets/img/paypal-784404-min.png" alt="paypal logo" width="100px" height="24px">
                        <h5 class="profileFontSize">{{user?.user?.email}}</h5>
                    </div>
                    <div class="d-flex flex-column text-end">
                        <a class="profileFontSize" href="javascript.void(0)">Update payment info</a>
                        <a class="profileFontSize" href="javascript.void(0)">Billing details</a>
                        <a class="profileFontSize" href="javascript.void(0)">Rendeem giftcard or promo code</a>
                        <a class="profileFontSize" href="javascript.void(0)">Where to buy gift cards?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="Main2 container-fluid mb-3 pb-3 border-bottom border-bottom-secondary">
        <div class="row">
            <div class="col-12 col-md-3 px-0">
                <h4 class="text-secondary mb-3 mb-md-0">PLAN DETAILS</h4>
            </div>
            <div class="col-12 col-md-9 fs-5 px-0 d-flex justify-content-between">
                <h5 class="profileFontSize">Standard <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-badge-hd" viewBox="0 0 16 16">
                        <path
                            d="M7.396 11V5.001H6.209v2.44H3.687V5H2.5v6h1.187V8.43h2.522V11zM8.5 5.001V11h2.188c1.811 0 2.685-1.107 2.685-3.015 0-1.894-.86-2.984-2.684-2.984zm1.187.967h.843c1.112 0 1.622.686 1.622 2.04 0 1.353-.505 2.02-1.622 2.02h-.843z" />
                        <path
                            d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2z" />
                    </svg>
                </h5>
                <a class="profileFontSize" href="javascript.void(0)">Change plan</a>
            </div>
        </div>
    </div>

    <div class="main3 mb-3 pb-3 border-bottom border-bottom-secondary">
        <div class="row">
            <div class="col-12">
                <h4 class="text-secondary mb-3">SETTINGS</h4>
            </div>
            <div class="col-12 fs-5">
                <div class="d-flex flex-column">
                    <a class="profileFontSize mb-2" href="javascript.void(0)">Parent controls</a>
                    <a class="profileFontSize mb-2" href="javascript.void(0)">Test partecipation</a>
                    <a class="profileFontSize mb-2" href="javascript.void(0)">Manage download devices</a>
                    <a class="profileFontSize mb-2" href="javascript.void(0)">Activate a device</a>
                    <a class="profileFontSize mb-2" href="javascript.void(0)">Recent device streaming activity</a>
                    <a class="profileFontSize" href="javascript.void(0)">Signout all devices</a>
                </div>
            </div>
        </div>
    </div>

    <div class="main4">
        <div class="row">
            <div class="col-12">
                <h4 class="text-secondary mb-3">MY PROFILE</h4>
            </div>
            <div class="col-12 fs-5">

                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <img class="me-2" src="assets/img/avatar.png" alt="" width="30px">
                        <h5 class="profileFontSize">{{user?.user?.username}}</h5>
                    </div>
                    <div class="d-flex flex-column">
                        <a class="profileFontSize" href="javascript.void(0)">Manage Profiles</a>
                        <a class="profileFontSize" href="javascript.void(0)">Add profile email</a>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <div class="d-flex flex-column">
                        <a class="profileFontSize mb-2" href="javascript.void(0)">Languge</a>
                        <a class="profileFontSize mb-2" href="javascript.void(0)">Playback settings</a>
                        <a class="profileFontSize mb-2" href="javascript.void(0)">Subtitle appearence</a>
                    </div>
                    <div class="d-flex flex-column">
                        <a class="profileFontSize mb-2" href="javascript.void(0)">Viewing activity</a>
                        <a class="profileFontSize mb-2" href="javascript.void(0)">Ratings</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>