<input class="mb-3" placeholder="Search Users" type="text" [(ngModel)]="searchTerm" (input)="filterUsers()">

<div class="users">
  <div *ngFor="let item of filteredUsers" class="col-md-8 w-100">
    <div class="card mb-3 text-light">
      <div class="d-flex flex-row row g-0">

        <div class="col-md-4">
          <img
            src="{{item.image}}"
            class="img-fluid rounded-start" alt="...">
        </div>

        <div class="col-md-8 card-body">
          <h5 class="card-title">{{item.firstName}} <span>{{item.lastName}}</span></h5>
          <p class="card-text">{{item.title}}</p>

          <div class="d-flex flex-column">
            <div id="checklist" class="pendingTasks container px-0 mt-3 d-flex flex-column align-items-start">

              <div *ngFor="let task of pendingTasks; let i = index" class="d-flex flex-column">
                <div *ngIf="task.userId == item.id" class="d-flex align-items-center">
                  <input [checked]="task.completed ? true : false" (change)="toggleTaskCompletion(task)"
                    value="{{task.id}}" name="r" type="checkbox" id="0{{task.id}}" />
                  <label class="text-light" for="0{{task.id}}">{{task.todo}}</label>
                </div>
              </div>

              <div *ngFor="let task of completedTasks; let i = index" class="d-flex flex-column">
                <div *ngIf="task.userId == item.id" class="d-flex align-items-center">
                  <input [checked]="task.completed ? true : false" (change)="toggleTaskCompletion(task)"
                    value="{{task.id}}" name="r" type="checkbox" id="0{{task.id}}" />
                  <label for="0{{task.id}}">{{task.todo}}</label>
                </div>
              </div>

            </div>

          </div>
          <!-- <p class="card-text"><small class="">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
    </div>
  </div>

</div>