<div class="users">

    <div class="card mb-3 text-light">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://besthqwallpapers.com/Uploads/18-4-2020/128953/federa-lake-4k-beautiful-nature-summer-mountains.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">firstName <span>lastName</span></h5>
              <p class="card-text">Role</p>

              <div id="checklist" class="pendingTasks container mx-3 mt-3 d-flex flex-column align-items-start">

                <div class="d-flex flex-column">
                    <div class="d-flex">
                        <input checked="" value="1" name="r" type="checkbox" id="01" />
                        <label for="01">Task</label>
                    </div>
                    <p class="ms-4 ps-3 text-secondary">Assigned to:</p>
                </div>
            
                <div class="d-flex flex-column">
                    <div class="d-flex">
                        <input checked="" value="2" name="r" type="checkbox" id="02" />
                        <label for="02">Task</label>
                    </div>
                    <p class="ms-4 ps-3 text-secondary">Assigned to:</p>
                </div>
            
            </div>

              <!-- <p class="card-text"><small class="">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
        </div>
      </div>

</div>
