<div class="header">
    <div class="header_logo m-0 p-0">
        <figure>
            <img src="../../../assets/imgs/HiTechOnlineHeader.png" alt="logo header" class="header_img">
        </figure>
    </div>
    <div class="navbar">
        <nav>
            <a class="nav_button" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
            <a class="nav_button" [routerLink]="['/activePosts']" routerLinkActive="active">Active posts</a>
            <a class="nav_button" [routerLink]="['/unactivePosts']" routerLinkActive="active">Unactive Posts</a>
            <a class="nav_button" href="./contatti.html">Contatti</a>
            <a class="nav_button" href="./prodotti.html">Prodotti</a>
            <a class="nav_button" href="./storia.html">Storia</a>
        </nav>
    </div>
</div>
