<div class="row home benvenuto_section row w-100 fs-6">
      <div class="home_section1 col-8">
         <app-home-section1-jumbotron></app-home-section1-jumbotron>
         <div class="home_section1_cards">
            <app-home-section1-cards-card class="d-flex"></app-home-section1-cards-card>
         </div>
      </div>

      <div class="home_section2 col-4">
         <div class="home_section2_1">
            <h3>Potrebbero piacerti:</h3>
            <div class="home_section2_1_cards">
               <app-home-section2-1-cards-card></app-home-section2-1-cards-card>
            </div>
         </div>

         <div class="home_section2_2">
            <h3>Vedi anche:</h3>
            <div class="home_section2_2_links d-flex flex-column text-start">
               <a class="bg-light text-decoration-underline py-2 px-3 border border-bottom-1" href="javascript:void(0)">Post attivi</a>
               <a class="bg-light text-decoration-underline py-2 px-3" href="javascript:void(0)">Post inattivi</a>
            </div>
         </div>
      </div>
   </div>
