<div class="carousel-inner">
    <div class="carousel-item active">
        <div class="contaner-fluid">
            <div class="row col-9 col-md-12">
                <div *ngFor="let movie of movies.slice(0, 6); let i = index" class="col-md-2 mb-2 px-0 imgRelative"
                    >
                    <a [routerLink]="['/movieDetails', movie.id]" routerLinkActive="active">
                        <img [src]="https + movie.backdrop_path" class="d-block w-100 carousel1" alt="carousel image">
                    </a>
                    <div class="container translateY mx-auto">
                        <div class="row d-flex align-items-center">
                            <p class="col-md-10 text-light fw-semibold">{{movie.title | ellipsis }}</p>
                            <div class="col-md-2">
                                <i *ngIf="user" (click)="toggleFavorite($event, user.user.id, movie)"
                                    [ngClass]="{ 'bi-heart-fill': isFavorite(movie.id), 'bi-heart': !isFavorite(movie.id) }">
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="carousel-item">
        <div class="contaner-fluid">
            <div class="row col-9 col-md-12">
                <div *ngFor="let movie of movies.slice(6, 12); let i = index" class="col-md-2 mb-2 px-0 imgRelative"
                    [ngClass]="{ 'ps-2': i === 6 }">
                    <a [routerLink]="['/movieDetails', movie.id]" routerLinkActive="active">
                        <img [src]="https + movie.backdrop_path" class="d-block w-100 carousel1" alt="carousel image">
                    </a>
                    <div class="container translateY mx-auto">
                        <div class="row d-flex align-items-center">
                            <p class="col-md-10 text-light fw-semibold">{{movie.title | ellipsis }}</p>
                            <div class="col-md-2">
                                <i *ngIf="user" (click)="toggleFavorite($event, user.user.id, movie)"
                                    [ngClass]="{ 'bi-heart-fill': isFavorite(movie.id), 'bi-heart': !isFavorite(movie.id) }">
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carouselExampleAutoplaying' + movies[0].id"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carouselExampleAutoplaying' + movies[0].id"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>